{% extends "layouts/default.html" %}
{% block title %}Welcome to Caveman2{% endblock %}
{% block content %}
<span class="text-xl">hello</span><span class="text-2xl">hello</span>
<div id="main" class="p-2 m-2">
  Welcome to <a href="http://8arrow.org/caveman/">Caveman2</a>!
</div>
<div id="wrapper" class="p-2 m-2 block">
  <p class="text-xl text-2xl text-red-500 bg-blue-300">hello tailwind</p>
	<button type="button" class="bg-yellow-500 text-red-500 hover:bg-red-500 hover:text-yellow-500">Hello</button>
</div>
{% endblock %}
